{% extends "_layouts/cp" %}

{# The title of this CP section #}
{% set title = "Pic Puller for Craft"|t('app') %}

{% set content %}
<h2>Success!</h2>
<div id='message'>Loading...</div>

    {% set saveAuthToPPdatabase %}

        var data = {
            user_id: "{{ currentUser.id }}",
            instagram_id: "something",
            instagram_oauth: "oauth",
            {{ craft.app.config.general.csrfTokenName }}: "{{ craft.app.request.getParam( craft.app.config.general.csrfTokenName ) }}"
        }
        console.log('data', data);
    {% endset %}

{% js saveAuthToPPdatabase %}
{% endset %}