{#
/**
 * Pic Puller plugin for Craft CMS
 *
 * LatestImage Widget Body
 *
 * @author    John F Morton
 * @copyright Copyright (c) 2017 John F Morton
 * @link      https://picpuller.com
 * @package   PicPuller
 * @since     3.0.0
 */
#}

<style>
    .pppreviewimage {
        max-width: 100%;
        margin: 0 auto;
        display: block;
        border: 1px solid #aaa;
    }
</style>

{% set ppname = craft.picPuller.customName %}

<div class="body">
    {% for instagramdata in craft.picPuller.media_recent({'user_id' : 1,  'use_stale_cache' : true, 'limit': 1}) %}
        {% if instagramdata.status == 'true' %}
            <p><img src="{{ instagramdata.low_resolution }}"
                    class='pppreviewimage'></p>
            {% if instagramdata.caption is not empty %}
                <p><em>Caption: </em>{{ instagramdata.caption }}</p>
            {% endif %}
        {% else %}
            <p>There was a problem retrieving your latest Instagram post.</p>
            <p>Check the <a
                        href="{{ craft.picPuller.getPicPullerBaseUrl() }}">{{ ppname }}
                    authorization page</a> for more details.</p>
        {% endif %}
    {% endfor %}
</div>
